@tailwind utilities;

* {
  scrollbar-color: fef1e7;
}

@font-face {
  font-family: DotoBold;
  src: url("../src/assets/fonts/Doto-ExtraBold.ttf");
}

@font-face {
  font-family: Outfit;
  src: url("../src/assets/fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: OutfitBold;
  src: url("../src/assets/fonts/Outfit-Bold.ttf");
}

@font-face {
  font-family: OutfitMedium;
  src: url("../src/assets/fonts/Outfit-Medium.ttf");
}

@font-face {
  font-family: OutfitLight;
  src: url("../src/assets/fonts/Outfit-Light.ttf");
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-windowBox: #fef1e7;
  --color-siteBg: #f4f1eF;
  --color-siteGreen: #698c61;
  --color-alternateBgBlue: #dbeeff;
  --color-workTileBg: #fbe1cb;
  --color-darkModeWindow: #2C2C30;
  --color-darkModeGreen: #0B5E36;
  --color-darkModeOrange: #C45602;
  --font-dotoBold: DotoBold, "sans-serif";
  --font-outfit: Outfit, "sans-serif";
  --font-outfitBold: OutfitBold, "sans-serif";
  --font-outfitMedium: OutfitMedium, "sans-serif";
  --font-outfitLight: OutfitLight, "sans-serif";
}

::-webkit-scrollbar {
  background-color: #fef1e7;
  width: .75rem;
}

::-webkit-scrollbar-thumb {
  background-color: #d1c7bf;
}

body * {
  @apply transition-colors duration-500;
}
